/*---------------------------------
共通設定
---------------------------------*/
/*
色設定
*/
$blue:#002C81;
$white:#fff;
$grey:#f5f5f5;;
$font-black:#333333;

/*
フォント設定
*/
html{
  font-size: 10px;
  font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif;
  color:$font-black;
}

//$topview-font : "Rockwell";
$topview-font : "Spinnaker, sans-serif";

.title{
  font-size: 3.2rem;
  font-family: $topview-font;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: 600;
}

.title-emphasis{
  margin-top: 20px;
  position: relative;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  display: block;
  width:0px;
  height:3px;
  background-color: $blue;
  border-radius: 1px;
}


.ja-title{
  display: block;
  margin-top: 20px;
  font-size: 1.8rem;
}

h3{
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  z-index: 10;
}

p,a{
  font-size: 1.6rem;
}

/*
モジュール設定
*/
a:hover{
  transition:.3s;
  opacity:.8;
}

img{
  width:100%;
  height:auto;
}

//ハンバーガーメニュー
.menu-trigger{
  z-index: 9999;
  position: fixed;
  top:25px;
  right:25px;
  width:22px;
  height:16px;
  span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:black;
    border-radius: 2px;
    transition: .3s;
  }
}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 7px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(7px) rotate(-315deg);
  background-color: $white;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
  background-color: $white;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-7px) rotate(315deg);
  background-color: $white;
}


body{
  background-color: $blue;
}

.container{
  width:90%;
  max-width:1080px;
  margin:0 auto ;
}

@mixin section-set($color){
  background-color: $color;
//  min-height:100vh;
  padding:0 0 180px;  
}


/*---------------------------------
ヘッダー
---------------------------------*/
$header-width : 20vw;
//$header-width : 0vw;
header{
  color:$white;
  font-family: $topview-font;
  position: fixed;
  width:$header-width;
  height:100vh;
  .global-nav{
    height:350px;
    text-align: center;
    margin-top: 20vh;
    ul{
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li,a{
        display: inline-block;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        position: relative;
        transition: .3s;
        &:hover{
          opacity:0.8;
          //transform: scale(1.1);
          &::after{
            transition: .5s;
            width:110%;
          }
        }
      }
      a::after{
        position: absolute;
        content:"";
        width:0;
        height:2px;
        border-radius: 1px;
        background-color: $white;
        bottom:-6px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
      }
    }
  }
}

.scroll-area{
  position: absolute;
  width:100vw - $header-width;
  margin-left: $header-width;
}
body.home{
  .scroll-area{
    top: 100vh;
  }
}


/*---------------------------------
フッター
---------------------------------*/
footer{
  color:$white;
  background-color: rgb(75, 75, 75);
  background-color: $blue;
  height:90px;
  text-align: center;
  .footer__icon{
    margin: 10px 0;
  }
  .copy-write{
    font-size: 1.1rem;
  }
}


/*---------------------------------
共通設定ここまで
---------------------------------*/


/*---------------------------------
トップビュー
---------------------------------*/
.top-view{
  color:$white;
  font-family: $topview-font;
  width:100vw - $header-width;
  height:100vh;
  position: fixed;
  left:$header-width;
  display: flex;
  align-items: center;
  background-image: url(../img/stripe.png);
  background-repeat: repeat;
  border:1px dashed #3b3b3b;
  overflow: hidden;
  &__title{
    width:100%;
    font-size: 6rem;
    font-weight: 600;
    margin-left: 40px;
    &::after{
      content:'[ぶべきち]';
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
  &__sub-title{
    margin-top: 1rem;
    font-size: 3rem;
    margin-left: 40px;
    letter-spacing: 0.1rem;
  }
  &__svg{
    z-index: 1;
    height: 100vw - $header-width;
    width: 100vh;
    position: fixed;
    top:100vh;
    right:0;
    transform: rotate(90deg);  /* 2D(平面)で回転 */
    transform-origin: 100% 0 0;
    #wave{
      fill:$white;
    }
  }
  &__btn{
    $diameter:150px;
    z-index: 10;
    width:$diameter;
    height:$diameter;
    border-radius: 50%;
    text-align: center;
    line-height: $diameter;
    font-size: 1.3rem;
    position: absolute;
    right:48%;
    bottom:60px;
    box-shadow: 0px 40px 40px rgba(0, 25, 72, .6);
    backdrop-filter: blur(15px);
    transition: .4s; 
    &:hover{
     box-shadow:none;
     background-color: rgba($blue,0.3);
     cursor: pointer;
    }
  }
}

/*---------------------------------
サービス内容
---------------------------------*/
.service{
  @include section-set($white);
  padding-top: 80px;
  &__maintxt{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    line-height: 1.8;
  }
  &__items{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after{
      content:"";
      width:30%;
    }
  }
  &__item{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__circle{
    position: absolute;
    top:7%;
    background-color:$grey;
    width:90%;
    border-radius: 50%;
    z-index: 0;
    &:before{
      content:"";
      display: block;
      padding-top: 100%;
    }
  }
  &__icon{
    margin-top: 30px;
    height:40px;
    z-index: 10;
  }
  &__detail{
    margin-top: 30px;
    line-height: 1.6;
    z-index: 10;
  }
  &__note{
    font-size: 1.4rem;
    line-height: 1.8;
    letter-spacing: .1rem;
    margin-top: 100px;
    text-align: center;
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    border-top: 60px solid transparent; 
    border-left: 100vw - $header-width transparent; 
    border-right: 100vw - $header-width solid $grey; 
    border-bottom: 60px solid $grey;
  }
}


/*---------------------------------
自己紹介
---------------------------------*/
.about{
  @include section-set($grey);
  &__intro{
    margin-top: 80px;
  }
  &__table{
    margin: 0 auto;
    width:80%;
    font-size: 1.4rem;
    letter-spacing: .1em;
    tr{
      line-height:40px;
    }
    td{
      border-bottom: 1px solid #797979;
    }
    &__skills{
      line-height: 0;
    }
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    border-top: 60px solid transparent; 
    border-right: 100vw - $header-width transparent; 
    border-left: 100vw - $header-width solid $white; 
    border-bottom: 60px solid $white;
  }
}
.history{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  &__item{
    width: 30%;
  }
  &__year{
    text-align: center;
    font-size: 2rem;
  }
  &__detail{
    margin-top: 30px;
    text-align: center;
  }
  &__arrow{
    content:"";
    height:15px;
    width:15px;
     border-top:  solid 3px $font-black;
    border-right: solid 3px $font-black;
    transform:rotate(45deg);
    margin: auto 0;
    &:last-child{
      display: none;
    }
  }
}

/*---------------------------------
料金
---------------------------------*/
.price{
  @include section-set($white);
  &__exp{
    margin-top: 50px;
    text-align: center;
  }
  &__table-area{
    margin: 80px auto 0;
    width:100%;
    max-width:700px;
    p{
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.7;
    }
    .wp-block-table{
      margin-top: 20px;
      box-shadow: 6px 6px 18px #bebebe;
    }
    table{
      font-size: 1.7rem;
      position: relative;
      td{
        padding-left:20px;
      }
      tr{
        line-height:10rem;
      }
      .price__item{
        width:60%;
      }
      .price__cost{
        width:40%;
        font-weight: bold;
      }
    }
    table,tr,td{
      border:1px solid $font-black;
    }
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    border-top: 60px solid transparent; 
    border-left: 100vw - $header-width transparent; 
    border-right: 100vw - $header-width solid $grey; 
    border-bottom: 60px solid $grey;
  }
}
.tbl-l{
  display: none;
}

/*---------------------------------
制作実績
---------------------------------*/
.work{
  @include section-set($grey);
  &__btn-area{
    margin-top: 70px;
    text-align: center;
    font-size: 1.1rem;
  }
  &__btn-exp{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 30px;
  }
  &__btn-list{
    display: inline-block;
  }
  &__btn-item{
    display: inline-block;
    width:90px;
    line-height: 3;
    border-radius: 3px;
    margin: 0 10px;
    transition:.2s;
    &:hover{
      font-weight: 600;
    }
    &.active{
      font-weight: 600;
      background-color: #c5cfe4;
    }
  }
  &__area{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__area:after{
    content:"";
    width:30%;
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    border-top: 60px solid transparent; 
    border-right: 100vw - $header-width transparent; 
    border-left: 100vw - $header-width solid $white; 
    border-bottom: 60px solid $white;
  }
}
.article{
  width:30%;
  background-color:$white;
  box-shadow: 6px 6px 18px #9c9c9c;
  text-align: center;
  margin-bottom: 50px;
  transition:.3s;
  position:relative;
  &__title{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2;
  }
  &:hover{
    box-shadow: none;
    top:1px;
  }
  &__img{
    overflow: hidden;
    img{
      transition: .3s;
      &:hover{
        transform: scale(1.02);
      }
    }
  }
  &__non-active{
    opacity:30%;
  }
}

/*---------------------------------
問い合わせ
---------------------------------*/
.contact{
  @include section-set($white);
  margin-bottom: 0px;
  padding-bottom:30px;
  &__exp{
    margin-top: 80px;
    text-align: center;
  }
  &__form{
    font-size: 1.5rem;
    max-width:600px;
    margin:50px auto;
    .submit-btn{
      margin: 50px auto 0;
      width:100px;
      input{
        width:100px;
        text-align: center;
        transition: .2s;
        &:hover{
          font-weight: 600;
          color: $white;
          background-color: $blue;
        }
      }
    }
    .form-area{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  input, textarea{
    display: inline-block;
    width:450px;
    max-width:450px;
    background-color: $grey;
    line-height: 1.7;
    padding: 10px;
    border-radius: 3px;
    &:focus{
      border: 2px solid $blue;
    }
  }
}



/*---------------------------------
制作物個別ページ
---------------------------------*/
.work-single{
  min-height:calc(100vh - 90px);
  background-color: $grey;
  padding:50px 0;
  &__container{
    max-width:800px;
    margin:0 auto;
    background-color:$white;
    padding: 35px;
    text-align: center;
  }
  &__time{
    text-align: left;
    font-size: 1.2rem;
    display: block;
  }
  &__title{
    display: inline-block;
    font-size: 2.5rem;
    margin:20px auto 10px;
    position:relative;
    &::after{
      content:"";
      width:100%;
      height:5px;
      background-color: $blue;
      position:absolute;
      right:-10px;
      bottom:-10px;
      background: linear-gradient(to right,$blue 0%, #fff 100%);
      border-radius: 2px;
    } 
  }
  &__thumbnail-img{
    margin-top: 30px;
  }
  &__summary{
    text-align:left;
    background-color: $grey;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.6rem;
    line-height: 2;
    border:1px dashed $blue;
  }
  &__area{
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.8;
    h2,h3,h4,p,ul{
      margin: 30px 0;
    }
    h2{
      font-size: 2.5rem;
      padding:20px 40px 18px;
      background-color: $grey;
      border-left:9px solid $blue;
    }
    h3{
      font-size: 2rem;
      border-left:9px solid $blue;
      font-weight: 300;
      padding:0 15px;
      font-weight: 600;
    }
    a{
      color:blue;
      font-weight: 600;
      &:hover{
        text-decoration: underline;
      }
    }
    ul{
      list-style: none;
      margin-left: 40px;
    }
    li::before{
      content:"・ ";
      color:$blue;
      font-weight: 600;
    }
  }
  &__home{
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    &:hover{
      text-decoration: underline;
    }
  }
}
.summary__table{
  width:100%;
  tbody{
    width:100%;
  }
}
.pager{
  margin-top: 50px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: space-between;
  .prev, .next{
    margin:15px 0; 
  }
  .pager__btn, .pager__txt{
    display: inline-block;
    font-size: 1.4rem;
  }
  .pager__txt{
    color:blue;
    &:hover{
      text-decoration: underline;
    }
  }
  .next{
    margin-right: 0;
    margin-left: auto;
  }
}


@media (max-width:1025px){ 
  html{
    font-size: 9px;
  }

  .container{
    width: 95%;
  }

  header{
    .global-nav{
      height:300px;
    }
  }

  /*---------------------------------
  サービス内容
  ---------------------------------*/
  .service{
    padding-top: 80px;
    &__items{
      margin-top: 50px;
    }
    &__item{
      width:32%;
    }
    &__name{
      font-size: 1.6rem;
    }
    &__detail{
      font-size: 1.4em;
      margin-top: 10px;
    }
    &__note{
      margin-top: 50px;
    }
  }


  /*---------------------------------
  自己紹介
  ---------------------------------*/
  .about{
   // margin-top: 40px;
   &__intro{
     margin-top: 50px;
   }
   &__history{
     margin-top: 50px;
   }
  }

}


//iPad縦画面
@media (max-width:800px){


  /*---------------------------------
  トップビュー
  ---------------------------------*/
  .top-view{
    &__title::after{
      display: block;
    }
    &__sub-title{
      line-height: 1px;
      margin-top: 30px;
    }
    &__btn{
      bottom: 100px;
    }
  }

  /*---------------------------------
  サービス内容
  ---------------------------------*/
  .service{
    &__items{
      text-align: center;
      margin-top: 20px;
      flex-direction: column;
      }
    &__item{
      width:300px;
      min-height:260px;
      margin: 70px auto 0;
      text-align: left;
    }
    &__circle{
      top:-25px;
      width:100%;
    }
    &__icon{
      margin-top: 10px;
    }
  }


  /*---------------------------------
  自己紹介
  ---------------------------------*/
  .about{
    &__table{
      tr{
        line-height: 35px;
      }
    }
  }
  .history{
    margin-top: 30px;
    flex-direction: column;
    &__item{
      width:80%;
      margin: 20px auto 0;
      text-align: center;
    }
    &__year{
      text-align: left;
    }
    &__detail{
      margin-top: 10px;
      text-align: left;
    }
    &__arrow{
      transform:rotate(135deg);
      margin-left: 10%;
      margin-top: 20px;
    }
  }


  /*---------------------------------
  制作実績
  ---------------------------------*/
  .article{
    width:47%;
  }


  /*---------------------------------
  問い合わせ
  ---------------------------------*/
  .contact{
    input,textarea{
      width:400px;
      max-width:400px;
    }
  }
}



//ここからヘッダー無し
@media (max-width:690px){

  
/*---------------------------------
ヘッダー
---------------------------------*/
$header-width : 0;
header{
  display: none;
  position:fixed;
  top:0;
  right:0;
  height:50vh;
  width:50vw;
  background-color: $blue;
  z-index: 1000;
  opacity:70%;
  .global-nav{
    height:80%;
    margin-top: 30%;
  }
}

.scroll-area{
  width: 100vw;
  margin-left: 0;
}


/*---------------------------------
トップビュー
---------------------------------*/
.top-view{
  width: 100vw;
  left:0;
  &__svg{
    height:100vw;
    transform-origin: 100% 0 0;
  }
  &__btn{
    left:50%;
    transform: translate(-50%); 
  }
}


/*---------------------------------
サービス内容
---------------------------------*/
.service{
  &__items{
    margin-top: 0;
  }
  &::after {
    border-top: 40px solid transparent; 
    border-left: 100vw - $header-width transparent; 
    border-right: 100vw - $header-width solid $grey; 
    border-bottom: 40px solid $grey;
  }
}



/*---------------------------------
自己紹介
---------------------------------*/
.about{
  &::after {
    border-top: 40px solid transparent; 
    border-right: 100vw - $header-width transparent; 
    border-left: 100vw - $header-width solid $white; 
    border-bottom: 40px solid $white;
  }
}


/*---------------------------------
自己紹介
---------------------------------*/
.price{
  &::after {
    border-top: 40px solid transparent; 
    border-left: 100vw - $header-width transparent; 
    border-right: 100vw - $header-width solid $grey; 
    border-bottom: 40px solid $grey;
  }
}


/*---------------------------------
制作実績
---------------------------------*/
.work{
  &::after {
    border-top: 40px solid transparent; 
    border-right: 100vw - $header-width transparent; 
    border-left: 100vw - $header-width solid $white; 
    border-bottom: 40px solid $white;
  }
}

}



//スマホ
@media (max-width:550px){

/*---------------------------------
トップビュー
---------------------------------*/
  .top-view{

    &__btn{
      $diameter:120px;
      width:$diameter;
      height: $diameter;
      line-height: $diameter;
    }
  }

/*---------------------------------
自己紹介
---------------------------------*/
.about{
  &__table{
    width:95%;
    &-item{
      width:30%;
    }
    &-value{
      width:70%;
    }
  }
}
.history{
  &__year{
    font-size: 16px;
  }
  &__detail{
    font-size: 13px;
  }
}


/*---------------------------------
料金
---------------------------------*/
.tbl-l{
  display: block;
}
.price{
  &__table-area{
    p{
      text-align: left;
    }
    table{
      td{
        padding-top: 10px;
        line-height: 1.5;
      }
      tr{
        height:7rem;
        line-height: 1.7rem;
        align-items: center;
      }
    }
  }
}

/*---------------------------------
制作実績
---------------------------------*/
.work{
  &__btn-area{
    display: none
  }
  &__area{
    flex-direction: column;
    margin-top: 30px;
  }
}
.article{
  margin: 0 auto 50px;
  width:60%;
  min-width:300px;
}


/*---------------------------------
問い合わせ
---------------------------------*/
.contact{
  &__exp{
    margin-top: 40px;
    text-align: left;
  }
  &__form{
    width: 90%;
    margin-bottom: 0;
    .form-area{
      flex-direction: column;
    }
    br{
      display: none;
    }
    input, textarea{
      margin-top: 5px;
      width:100%;
      padding: 5px;
    }
    .submit-btn{
      margin-top: 30px;
    }
  }
}


/*---------------------------------
制作物個別ページ
---------------------------------*/
.work-single{
  &__container{
    padding: 10px;
  }
  &__summary{
    padding:10px;
  }
}

}



//スマホ
@media (max-width:500px){

  /*---------------------------------
  トップビュー
  ---------------------------------*/
  .top-view{
    &__title{
      font-size: 4.5rem;
    }
    &__sub-title{
      margin-top: 2rem;
      font-size: 2.5rem;
    }
    &__btn{
      bottom:60px;
      left:53%;
    }
  }
}