@charset "UTF-8";
/*---------------------------------
共通設定
---------------------------------*/
/*
色設定
*/
/*
フォント設定
*/
html {
  font-size: 10px;
  font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif;
  color: #333333;
}

.title {
  font-size: 3.2rem;
  font-family: "Spinnaker, sans-serif";
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: 600;
}

.ja-title {
  display: block;
  margin-top: 20px;
  font-size: 1.8rem;
}

h3 {
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  z-index: 10;
}

p, a {
  font-size: 1.6rem;
}

/*
モジュール設定
*/
a:hover {
  transition: .3s;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #002C81;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

/*---------------------------------
ヘッダー
---------------------------------*/
header {
  color: #fff;
  font-family: "Spinnaker, sans-serif";
  position: fixed;
  width: 20vw;
  height: 100vh;
}

header .global-nav {
  height: 350px;
  text-align: center;
  margin-top: 20vh;
}

header .global-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .global-nav ul li {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.scroll-area {
  position: absolute;
  top: 100vh;
  width: 80vw;
  margin-left: 20vw;
}

/*---------------------------------
共通設定ここまで
---------------------------------*/
/*---------------------------------
トップビュー
---------------------------------*/
.top-view {
  color: #fff;
  font-family: "Spinnaker, sans-serif";
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: 20vw;
  display: flex;
  align-items: center;
  background-image: url(../img/stripe.png);
  background-repeat: repeat;
  border: 1px dashed #3b3b3b;
  overflow: hidden;
}

.top-view__title {
  font-size: 72px;
  font-weight: 600;
  margin-left: 50px;
}

.top-view__title--kana {
  font-size: 1.2rem;
  margin-left: 5px;
}

.top-view__sub-title {
  font-size: 35px;
  margin-left: 50px;
  letter-spacing: 0.1rem;
}

.top-view__svg {
  z-index: 1;
  height: 80vw;
  width: 100vh;
  position: fixed;
  top: 100vh;
  right: 0;
  transform: rotate(90deg);
  /* 2D(平面)で回転 */
  transform-origin: 100% 0 0;
}

.top-view__svg #wave {
  fill: #fff;
}

.top-view__btn {
  z-index: 10;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 1.3rem;
  position: absolute;
  right: 48%;
  bottom: 50px;
  box-shadow: 0px 40px 40px rgba(0, 25, 72, 0.6);
  backdrop-filter: blur(15px);
  transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.top-view__btn:hover {
  box-shadow: none;
  background-color: rgba(0, 44, 129, 0.3);
  cursor: pointer;
}

/*---------------------------------
サービス内容
---------------------------------*/
.service {
  background-color: #fff;
  min-height: 100vh;
  padding: 80px 0;
  position: relative;
}

.service__maintxt {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  line-height: 1.8;
}

.service__items {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__items:after {
  content: "";
  width: 30%;
}

.service__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.service__circle {
  position: absolute;
  top: 7%;
  background-color: #f5f5f5;
  width: 90%;
  border-radius: 50%;
  z-index: 0;
}

.service__circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.service__icon {
  margin-top: 30px;
  height: 40px;
  z-index: 10;
}

.service__detail {
  margin-top: 30px;
  line-height: 1.8;
  z-index: 10;
}

.service__note {
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: .1rem;
  margin-top: 100px;
  text-align: center;
}

/*---------------------------------
自己紹介
---------------------------------*/
.about {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 80px 0;
}

.about__intro {
  margin-top: 50px;
}

.about__table {
  margin: 0 auto;
  width: 80%;
  font-size: 1.4rem;
  letter-spacing: .1em;
}

.about__table tr {
  line-height: 40px;
}

.about__table td {
  border-bottom: 1px solid #797979;
}

.about__table__skills {
  line-height: 0;
}

.history {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.history__item {
  width: 30%;
}

.history__year {
  text-align: center;
  font-size: 2rem;
}

.history__detail {
  margin-top: 30px;
  text-align: center;
}

/*---------------------------------
料金
---------------------------------*/
.price {
  background-color: #fff;
  min-height: 100vh;
  padding: 80px 0;
}

.price__exp {
  margin-top: 50px;
  text-align: center;
}

/*---------------------------------
制作実績
---------------------------------*/
.work {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 80px 0;
  height: auto;
}

.work__btn-area {
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.work__btn-exp {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 30px;
}

.work__btn {
  width: 90px;
  line-height: 3;
  border-radius: 3px;
  margin: 0 10px;
}

.work__btn:hover {
  font-weight: 600;
}

.work__btn.active {
  font-weight: 600;
  background-color: #c5cfe4;
}

.work__area {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work__area:after {
  content: "";
  width: 30%;
}

.article {
  width: 30%;
  box-shadow: 6px 6px 18px #9c9c9c;
  text-align: center;
  margin-bottom: 50px;
  transition: .3s;
  position: relative;
}

.article__title {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2;
}

.article:hover {
  box-shadow: none;
  top: 1px;
}

/*---------------------------------
問い合わせ
---------------------------------*/
.contact {
  background-color: #fff;
  min-height: 100vh;
  padding: 80px 0;
}

.contact__exp {
  margin-top: 50px;
  text-align: center;
}

/*---------------------------------
フッター
---------------------------------*/
footer {
  color: #fff;
  background-color: #4b4b4b;
  background-color: #002C81;
  height: 90px;
  text-align: center;
}

footer .footer__icon {
  margin: 10px 0;
}

footer .copy-write {
  font-size: 1.1rem;
}
